/* src/App.css ou src/index.css */
/* src/App.css ou src/index.css */
/* src/App.css ou src/index.css */
body {
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: #ffffff; /* Blanc */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}



footer {
  margin-top: 4rem;
}
