/* src/App.css ou src/index.css */
/* src/App.css ou src/index.css */
body {
  background-color: #ffffff; /* Blanc */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


footer {
  margin-top: 4rem;
}
